{% extends "global_template.html" %}

{% block body %}
{%load static%}
<title>Live Scope | Ashwink</title>

<body data-gr-c-s-loaded="true" style="background: #f4f0f6;">

<div class="jumbotron text-center" style="background-color: #010101c2;color: white;padding: 0em 2em 2em 2em;">
<h1>
	<span style="font-family: Courier;font-size: x-large; margin-bottom: -5.5%;margin-right: 4.5em;">>_</span>
	<br>
	A<span style="font-family: Courier;">SSH</span>WINK
</h1>
    <p style=" margin: -0.5%;"> Live Scope </p>
</div>

<div class="container">
	<div class="row">
		 <div class="col-md-6">
			 <div class="row">
				<img src='{% url "stream" %}' width='100%'>
			 </div>
			 <div class="row">
			 <p>INFO:</p>
				<div id="info"></div>
			 </div>
		 </div>
		 
		 <div class="col-md-6">
			 <div class="row">
				
				
					<?xml version="1.0" encoding="UTF-8"?>
			{%include 'controller.svg'%}

		 </div>
				<div class="row">
					
					<div class="col-md-5" align = "center" style="    padding: 0.5em;">
					<div class="btn-group" data-toggle="buttons">
					<a href="#" class="btn btn-dark disabled" role="button" aria-disabled="true">BrightField</a>
					
						<button type="button" onclick=buttonclick('light/bf') class="btn btn-light">LED</button>
					</div>
					</div>
					<div class="col-md-7" align = "center" style="    padding: 0.5em;">
					
					<div class="btn-group" data-toggle="buttons">
					<a href="#" class="btn btn-dark disabled" role="button" aria-disabled="true">DarkField</a>
					
					
						<button type="button"onclick=buttonclick('light/r') class="btn btn-danger">Red</button>
						<button type="button" onclick=buttonclick('light/g') class="btn btn-success">Green</button>
						<button type="button" onclick=buttonclick('light/b') class="btn btn-primary">Blue</button>
					</div>
					</div>
				</div>
				
				<div class="row">
				<div class="col-md-4" align = "center" style="    padding: 0.5em;">
				 <button type="button" onclick=buttonclick('snap') class="btn btn-info">
         <i class="fa fa-camera-retro"></i> Snapshot!
        </button>
				</div>
				
				<div class="col-md-4" align = "center" style="    padding: 0.5em;">
				 <a role="button" href="{% url "img_viewer" pageno=1%}" class="btn btn-warning">
        Image Viewer
        </a>
				</div>
				<div class="col-md-4" align = "center" style="    padding: 0.5em;">
				 <button type="button" onclick=buttonclick('af') class="btn btn-success">
        Auto Focus
        </button>
				</div>
				
				<div class="col-md-4" align = "center" style="    padding: 0.5em;">
				<a role="button" href="{% url "rbc_detect" %}" class="btn btn-danger">RBC Detector</a>
				</div>
				
				</div>
				
				
			 </div>
		 </div>
	</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</body>



<script>

function buttonclick(link) {
    $.ajax({url: link,
	success: function(result){
    $("#info").html(result);
  }
  });
}
</script>



{%endblock%}